//Placeholders for slider
%flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%colSet {
    float: left;
    min-height: 1px;
    height:100%;
}


//simple animation start

.slide-enter {
  opacity: 0.01;
  filter: grayscale(75%);
  -webkit-filter:grayscale(75%);
}

.slide-enter.slide-enter-active {
  opacity: 1;
  filter: grayscale(0);
  -webkit-filter:grayscale(0);
  transition: all 1s ease-in;
}

.slide-appear {
  opacity: 0.01;
  filter: grayscale(75%);
  -webkit-filter:grayscale(75%);
}

.slide-appear.slide-appear-active {
  opacity: 1;
  filter: grayscale(0);
  -webkit-filter:grayscale(0);
  transition: all 1s ease-in;
}




.headerSlide-appear,.textSlide-appear {
  opacity: 0.01;
}

.headerSlide-appear.headerSlide-appear-active, .textSlide-appear.textSlide-appear-active  {
  opacity: 1;
  transition: all 2s ease-in;
}
//simple animation end




/*Slider components styles settings*/
.slider {
    //height:400px;
    height:100vh;
    width:100vw;
    background-color: rgb(71, 71, 71);
}

.slider__container{
    width: 100%;
    max-width: 900px;
    height:100%;
    margin: 0 auto;
    .slider__row{
        height:100%;
        &:after, &:before{
            content:'';
            clear: both;
            display:block;
        }
        .slider__col-sm2{
            width:8.33%;
            @extend %flexCol;
            @extend %colSet;
        }
        .slider__col-sm8{
            width: 83.33%;
            @extend %flexCol;
            @extend %colSet;
        }
    }
}

.slider__button{
    display: inline-block;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0;
    color:white;
    background-color: transparent;
    cursor:pointer;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial;
    opacity: 0.1;
    @media screen and (min-width:458px ){
        font-size: 50px;
    }
    &:hover {
        opacity: 1;
        transition: all 1s;
    }
}


.slider__slideContent {
    max-width:740px;
    width:100%;
    min-height: 400px;
    height:auto;
    background-repeat:no-repeat;
    background-size: contain;
    @media screen and (min-width:900px ){
        background-size: 80% 70%;
    }
    background-position:center center;
    @extend %flexCol;
    justify-content: space-between;

    h1, p {
        color: white;
        font-family: Arial, sans-serif;
        display: inline-block;

    }
    h1 {
        font-size: 40px;
        margin: 0 10px 0 0;
        height: 140px;
        @media screen and (min-width:458px ) and (max-width: 881px){
            height:110px;
            font-size: 45px;
        }
        @media screen and (min-width:882px ){
            height:60px;
            font-size: 50px;
        }
        display:block;
        overflow: hidden;
    }
    p{
        font-size: 16px;
        font-weight: bolder;
        text-align: center;
        margin: 0 auto;
        @media screen and (min-width:458px ){
            font-size: 20px;
        }
        a{
            &:link, &:visited, &:hover, &:active{
                color:white;
            }
        }
    }

}
