//Placeholders for slider
%flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%colSet {
    float: left;
    min-height: 1px;
    height:100%;
}


//simple animation start

.slide-enter {
  opacity: 0.01;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.slide-appear {
  opacity: 0.01;
}

.slide-appear.slide-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

//simple animation end




/*Slider components styles settings*/
.slider {
    height:400px;
    width:100%;
    background-color: rgb(71, 71, 71);
}

.slider__container{
    width: 100%;
    max-width: 900px;
    height:100%;
    margin: 0 auto;
    .slider__row{
        height:100%;
        &:after, &:before{
            content:'';
            clear: both;
            display:block;
        }
        .slider__col-sm2{
            width:8.33%;
            @extend %flexCol;
            @extend %colSet;
        }
        .slider__col-sm8{
            width: 83.33%;
            @extend %flexCol;
            @extend %colSet;
        }
    }
}

.slider__button{
    display: inline-block;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0;
    color:white;
    background-color: transparent;
    cursor:pointer;
    font-size: 50px;
    font-weight: 400;
    font-family: Arial;
    opacity: 0.1;
    &:hover {
        opacity: 1;
        transition: all 1s;
    }
}


.slider__slideContent {
    max-width:740px;
    width:100%;
    min-height: 400px;
    height:auto;
    background-repeat:no-repeat;
    background-size: contain;
    background-position:center center;
    @extend %flexCol;
    justify-content: space-between;
    h1, p {
        color: gold;
        font-family: Arial, sans-serif;
        display: inline-block;
    }
    h1 {
        font-size: 50px;
        margin: 20px 10px;
        text-shadow: 2px 2px #ff0000;
    }
    p{
        font-size: 20px;
        font-weight: bolder;
        opacity:0.85;
        margin:0 20px 40px 20px;

    }

}
