//Placeholders for slider
%flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%colSet {
    float: left;
    min-height: 1px;
    height:100%;
}


//simple animation start

.slide-enter {
  opacity: 0.01;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.slide-appear {
  opacity: 0.01;
}

.slide-appear.slide-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.textSlide-enter {
  opacity: 0.01;
  width: 0%;
}

.textSlide-enter.textSlide-enter-active {
  opacity: 1;
  width:100%;
  transition: all 2s ease-in;
}

.textSlide-appear {
  opacity: 0.01;
  width:0%;
}

.textSlide-appear.textSlide-appear-active {
  opacity: 1;
  width:100%;
  transition: all 2s ease-in;
}




.slide2-enter {
  opacity: 0.01;
}

.slide2-enter.slide2-enter-active {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.slide2-appear {
  opacity: 0.01;
}

.slide2-appear.slide2-appear-active {
  opacity: 1;
  transition: opacity 2s ease-in;
}
//simple animation end




/*Slider components styles settings*/
.slider {
    height:400px;
    width:100%;
    background-color: rgb(71, 71, 71);
}

.slider__container{
    width: 100%;
    max-width: 900px;
    height:100%;
    margin: 0 auto;
    .slider__row{
        height:100%;
        &:after, &:before{
            content:'';
            clear: both;
            display:block;
        }
        .slider__col-sm2{
            width:8.33%;
            @extend %flexCol;
            @extend %colSet;
        }
        .slider__col-sm8{
            width: 83.33%;
            @extend %flexCol;
            @extend %colSet;
        }
    }
}

.slider__button{
    display: inline-block;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0;
    color:white;
    background-color: transparent;
    cursor:pointer;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial;
    opacity: 0.1;
    @media screen and (min-width:458px ){
        font-size: 50px;
    }
    &:hover {
        opacity: 1;
        transition: all 1s;
    }
}


.slider__slideContent {
    max-width:740px;
    width:100%;
    min-height: 400px;
    height:auto;
    background-repeat:no-repeat;
    background-size: contain;
    @media screen and (min-width:900px ){
        background-size: 80% 70%;
    }
    background-position:center center;
    @extend %flexCol;
    justify-content: space-between;
    h1, p {
        color: white;
        font-family: Arial, sans-serif;
        display: inline-block;

    }
    h1 {
        font-size: 40px;
        margin: 30px 10px 0 0;
        height: 140px;
        @media screen and (min-width:458px ){
            height:120px;
            font-size: 50px;
        }
        display:block;
        overflow: hidden;
    }
    p{
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        margin: 0 auto;
        margin-bottom:35px;
        overflow: hidden;
    }

}
